<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Erro 404</title>
  <link rel="shortcut icon" th:href="@{/resources/imagens/logo.png}" type="image/x-png"/>
  <link rel="stylesheet" type="text/css" href="css/components/css.css" th:href="@{/resources/css/components/css.css}">




</head>
<body>

<center><img th:src="@{/resources/imagens/erro404.png}"  style="max-width: 100%;height:auto;margin-top: 12%;"></center>


<center><button class="ui red button"><a href="index.html" style="color: #fff;margin-bottom: 12%;">VOLTAR PARA TELA INICIAL</a></button></center>

</body>

</html>
